@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}
a:active {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
html body {
  color: #FFFFFF;
  font-size: 32px;
  font-family: "Forum", serif;
  font-weight: 400;
}

.bg {
  width: 100%;
  min-height: 100vh;
  background: url(../img/главная\ страница\ 2.png) 0 0/cover no-repeat;
}

.navigation {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

.main-txt-block {
  text-align: center;
  margin-top: 75px;
}
.main-txt-block .main-txt-block__txt {
  font-size: 80px;
  font-family: "Forum", serif;
}
.main-txt-block .main-txt-block__txt--style {
  margin-top: 45px;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.footer-p1 {
  padding: 45px 0px 45px 0px;
  text-align: center;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.footer-p1 .footer-p1__btn {
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.footer-p1 .footer-p1__btn:before {
  content: "";
  background: linear-gradient(45deg, rgb(84, 40, 135), #61008e, #bd59f6, #4c2373, #2b2155, #8d1f93, #7a00ff, #ff00c8, #6a1fcb);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.footer-p1 .footer-p1__btn:hover:before {
  opacity: 1;
}
.footer-p1 .footer-p1__btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #673DA0, #378AA8);
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bg-main {
  width: 100%;
  min-height: 100vh;
  background-color: #01000C;
}

.container-main {
  max-width: 1420px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 80px;
  margin: 90px 0;
}

.variation-connects .Nunito-light {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 32px;
  font-style: normal;
}

.Nunito-italic {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 28px;
  text-decoration: underline;
}

.Forum-regular {
  font-size: 36px;
}

.Nunito-light {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 28px;
}
.Nunito-light .Nunito-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.code-coren {
  margin: 105px 0px;
  width: 685px;
  height: 534px;
  padding: 35px 25px;
  background: url(../img/blur.png) no-repeat center center;
  box-shadow: 0px 0px 100px 60px rgba(68, 8, 144, 0.44);
  border: solid white 1px;
  border-radius: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 28px;
}

.code-coren-v2 {
  margin: 105px 0px;
  width: 1100px;
  height: 825px;
  padding: 35px 25px;
  background: url(../img/blur\ 2.png) no-repeat center center;
  box-shadow: 0px 0px 100px 60px rgba(68, 8, 144, 0.44);
  border: solid white 1px;
  border-radius: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 28px;
}

.btn-download {
  margin-top: 25px;
  margin-bottom: 75px;
  padding: 15px 40px;
  border: solid 1px white;
  border-radius: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-decoration: underline;
}